

<h3>Listado de los héroes</h3>



<div *ngIf="deleteHeroe">
  <h3>
    Heroe borrado: {{ deleteHeroe }}
  </h3>
</div>





<button

    (click)="removeLastHeroe()"

    class="mt-2 mb-2 btn btn-outline-danger">Borrar último héroe</button>


<div
  *ngIf="heroesNames.length === 0"
  class="alert alert-primary" role="alert">
  No hay datos para mostrar
</div>


<ul class="mt-2 list-group">
  <li *ngFor="let name of heroesNames"
      class="list-group-item"
      >
    {{ name }}
  </li>

</ul>
